/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

/config/database.php
/public/post-images
/public/post-videos
/public/profile-images
/public/icon-apps