.notification a > p {
  color: rgba(0,0,0,.9);
  font-weight: normal;
  font-size: .8rem;
}

.edit-block .profile-photo.update {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

@media (max-width: 768px) { 
  .edit-block .profile-photo.update {
    width: 85px;
    height: 85px;
  }
}

.edit-menu a:link {
  text-decoration: none !important;
}

.edit-profile .ui.segment {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

.ui.feed.load.segment {
  border: none;
  box-shadow: none;
  margin-top: 2.5rem;
}

.post-date h5 {
  margin-bottom: 0;
}

.post-date .text-muted {
  font-size: .8rem;
}

.timeline.container .post-content {
  background-color: #E6E9EC;
  border: none;
}

#uploadProgress {
  margin: 2.5rem 1rem 1rem 1rem;
}

#uploadProgress div.progress {
  margin-top: -.6rem;
  background: none;
}

h5.prgrs.label {
  margin-top: 0;
  color: black;
  font-size: 1rem;
}

.user-info h5 {
  margin-bottom: 5px;
}

.user-info p {
  font-size: .8rem;
}

.ui.feed.stop.segment h5 {
  text-align: center;
}

.follow-user h5 {
  margin-bottom: .2rem;
}

.profile-card > h5 {
  margin-bottom: .1rem;
}

.create-post .ui.negative.message {
  padding: .5rem 1rem .5rem .8rem;
  font-size: .8rem;
  margin-top: .5rem;
}

.create-post .row.preview {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: .3rem;
  position: relative;
}

.create-post .row.preview .ui.mini.button {
  position: absolute;
  left: 66px;
  top: -5px;
}

.create-post .row.preview .ui.mini.button > .icon {
  color: #FFF;
  text-shadow: none;
}

.create-post.ui.segment {
  border: none;
  box-shadow: none;
}

.create-post.ui.segment .ui.mini.button.post {
  float: right;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.create-post.ui.segment .ui.mini.button.cancel {
  margin-left: .2rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.ui.feed.load {
  background: none;
}

.feed.container img.profile-photo-sm {
	height: 40px;
	width: 40px;
	border-radius: 10%;
}

.ui.card.segment.create-post .post.media {
  margin-top: 0;
  min-height: 120px;
}

.ui.card.segment.create-post .post.media .content {
  padding-right: 8px;
}

.ui.card.segment.create-post .post.media div.thumbnail {
  margin-right: -10px;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 85px;
  background: #e0e1e2;
}

@media (max-width: 992px) {
  .ui.card.segment.create-post .post.media div.thumbnail {
    margin-right: 0;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 768px) {
  #bs-example-navbar-collapse-2 {
    display: none;
  }
  .navbar-collapse-mobile .collapse {
    display: none;
  }
}

.ui.card.segment.create-post .post.media img.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.ui.card.segment.create-post .post.media textarea {
  min-height: 85px;
}

.ui.card.segment.create-post .post.media.video .video-description {
  text-align: center;
}

.ui.card.segment.create-post .post.media.video .icon.huge {
  font-size: 5em;
}

.ui.card.segment.create-post .post.media.video h6 {
  margin-top: .1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #a333c8;
}

.ui.card.segment.create-post > .steps {
  border: none;
  min-height: 90px;
}

.feed.container .profile-card {
  margin-bottom: 1rem;
}

.feed.container .ui.card.internal {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.create-post.ui.segment .ui.steps {
  border: none;
  min-height: 90px;
  width: 100%;
}

.create-post.ui.segment {
  min-height: 90px;
}

.create-post .image.preview {
  max-height: 80px;
  min-height: 30px;
}

.create-post .image.preview img {
  max-width: 80px;
  max-height: 80px;
}