#lp-register > .container.wrapper {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}

#lp-register .reg-form-container.ui.segment {
  padding: 40px 40px 40px 60px;
}

#lp-register .ui.negative.message {
  margin-top: .2rem;
}

.btn:focus {
  outline: none;
}

.btn::-moz-focus-inner {
  border:0;
}

p.sub.header {
  margin-top: .6rem;
  margin-bottom: .5rem;
  padding-left: .65rem;
  font-size: .9rem;
}